.product__container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    max-width: 110px;
    padding: 20px;
    margin-right: 30px;
    border-radius: 0.5rem;
    border: 1px solid var(--third-color);
    outline: none;
    text-align: start;
}

.product__img {
    width: 100%;
    max-width: 65px;
}

.product__hr {
    width: 100%;
    max-width: 110px;
}

.product__title {
    margin: auto;
    font-size: 15px;
    color: var(--third-color);
}

.product__p {
    font-size: 14px;
    font-weight: bold;
    color: var(--primary-color); 
}
