.home__title {
    width: 35%;
    margin-top: 4rem;
    margin-left: 28rem;
    font-weight: normal;
    font-size: 2rem;
    color: var(--primary-color);
}

@media screen and (max-width: 1024px) {
    .home__title {
        width: 55%;
        margin-left: 12rem;
    }
}

@media screen and (max-width: 568px) {
    .home__title {
        width: 90%;
        margin-top: 1rem;
        margin-left: 2rem;
        font-size: 2rem;
    }
}
