.section__h1 {
    width: 35%;
    margin-top: 7rem;
    margin-left: 28rem;
    font-weight: normal;
    font-size: 2rem;
    color: var(--primary-color);
}

@media screen and (max-width: 1024px) {
    .section__h1 {
        width: 55%;
        margin-top: 18rem;;
        margin-left: 12rem;
    }
}

@media screen and (max-width: 568px) {
    .section__h1 {
        width: 90%;
        margin-top: 1rem;
        margin-left: 2rem;
        font-size: 2rem;
    }
}
