.section__section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section__h1 {
    max-width: 500px;
    text-align: center;
    font-weight: normal;
    font-size: 2rem;
    color: var(--primary-color);
 
}

@media screen and (max-width: 1024px) {
    .section__h1 {
        font-size: 30px;
    }
}

@media screen and (max-width: 568px) {
    .section__h1 {
        font-size: 20px;
    }
}
