.header__background {
    display: flex;
    justify-content: space-between;
    background-color: var(--primary-color);
    padding: 12px 12px;
}

.header__logo {
    width: 100%;
    max-width: 121px;
    height: 40px;
}

.header__p--count {
    margin: auto;
    font-weight: bold;
    color: var(--button-color);
    text-align: end;
}
