html,
body {
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;

    --primary-color: #333333;
    --second-color: #FFFFFF;
    --third-color: #F4BF33;
    --border-color-outline: #999999;
    --text-color-gray-light: #CFCFCF;
}

body {
    width: 100vw;
    height: 90vh;
}